@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
}
.banner {
  position: relative;
  min-height: 100vh;
  background: url(images/snow.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
  text-shadow: 0 2px 2px #444;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 2px 8px #444;
}
.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 1s;
}
.btn:hover {
  transition: 1s;
  background: #fff;
  color: #222;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
header.sticky {
  transition: 0.5s;
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 2px #444;
}

header ul li a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgba(105, 197, 250, 0.295);
  z-index: -1;
  transition: transform 0.5s ease;
}

header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header.sticky ul li a {
  color: #111;
  text-shadow: none;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentBx {
  padding-right: 30px;
}
.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.w50 {
  min-width: 50%;
}
img {
  max-width: 100%;
}
.services {
  background: #111;
}
.heading.white {
  color: #fff;
}
.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .content .servicesBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.services .content .stackBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 800px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.services .content .stackBx ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
.services .content .stackBx ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 9px rgba(48, 46, 46, 0.568);
  font-size: 12px;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  overflow: hidden;
}
.wavy div {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}
.wavy {
  div:nth-of-type(1) {
    animation-delay: 0s;
  }
  div:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  div:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  div:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  div:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  div:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  div:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  div:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  div:nth-of-type(9) {
    animation-delay: 0.8s;
  }
  div:nth-of-type(10) {
    animation-delay: 0.9s;
  }
  div:nth-of-type(11) {
    animation-delay: 1s;
  }
}
@keyframes wavy {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}
.services .content .stackBx ul li:hover {
  transform: translateY(-15px);
}
.services .content .stackBx ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}
.services .content .stackBx ul li:hover::before {
  transform: skewX(45deg) translateX(-150px);
}
.services .content .stackBx ul li img {
  width: 3em;
  padding-bottom: 10px;
}
.services .content .servicesBx:hover {
  background: #2196f3;
}
.services .content .servicesBx img {
  max-width: 80px;
  filter: invert(1);
}
.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}
.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .workBx {
  width: 50%;
  padding: 20px;
}
.work .content .workBx img {
  max-width: 100%;
}
.testimonial {
  background: #f7f7f7;
}
.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonial .content .testimonialBx {
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #2196f3;
}
.testimonial .content .testimonialBx p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
.testimonial .content .testimonialBx h3 {
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}
.testimonial .content .testimonialBx h3 span {
  font-size: 14px;
  font-weight: 400;
}
.contact {
  background: #111;
}
.formBx {
  min-width: 60%;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form h3,
.contactInfo h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}
.formBx form textarea {
  min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}
.formBx form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contactInfo {
  min-width: 40%;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}
.greeting {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* the sprite is composed of 25 frames */
  width: 2500%;
  background: url(ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  animation: cd-sequence 1s steps(24);
  animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  animation: cd-sequence-reverse 1s steps(24);
  animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
  display: none;
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    transform: translateY(-50%) translateX(-2%);
  }
}

/* Trying responsive for 1st time */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    /* width: 40px;
    height: 40px; */
    background: url(images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .contentBx h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    margin-bottom: 20px;
  }
  .services .content .servicesBx {
    margin: 10px;
  }
  .services .content .stackBx {
    margin: 10px;
  }
  .work .content .workBx {
    width: 100%;
    padding: 10px;
  }
  .testimonial .content .testimonialBx {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196f3;
  }
  .testimonial .content .testimonialBx h3 {
    margin-top: 20px;
  }
  .contactInfo {
    margin: 20px 0;
  }
}
@media (max-width: 835px) {
  .services .content .stackBx {
    max-width: 340px;
  }
}
@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }
  .banner {
    padding: 150px 20px 100px;
  }
  section {
    padding: 100px 20px;
  }
}
